[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
sqlalchemy = "*"
datasette = "*"
sqlite-utils = "*"
datasette-search-all = "*"
requests = "*"
datasette-publish-vercel = "*"

[requires]
python_version = "3.9"