[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.3"
python-dotenv = "1"
flask_sqlalchemy = "3.0"
Flask-Migrate = "4.0.4"
xmltodict = "0.13"
gunicorn = "20.1"
requests = "*"

[dev-packages]
black = "23.3"

[requires]
python_version = "3.10"
