<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Relationship</th>
      <th>Name</th>
      <th>Other Trade Names</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for beneficiary in beneficiaries %}
      <tr>
        <td><a href="{{ url_for('beneficiary', id=beneficiary.id) }}">{{ beneficiary.id }}</a></td>
        <td>{{ beneficiary.type }}</td>
        <td>{{ beneficiary.name }}</td>
        <td>{{ beneficiary.trade_name }}</td>
        <td>{{ beneficiary.address }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
