<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Report ID</th>
      <th>Type</th>
      <th>Name</th>
      <th>Trade Name</th>
      <th>Description</th>
      <th>Business Type</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for firm in firms %}
      <tr>
        <td><a href="{{ url_for('firm', id=firm.id) }}">{{ firm.id }}</a></td>
        <td><a href="{{ url_for('lobbying_report', id=firm.report_id) }}">{{ firm.report.smnumber }}</a></td>
        <td>{{ firm.type }}</td>
        <td>{{ firm.name }}</td>
        <td>{{ firm.trade_name }}</td>
        <td>{{ firm.description }}</td>
        <td>{{ firm.business_type }}</td>
        <td>{{ firm.address }}</td>        
      </tr>
    {% endfor %}
  </tbody>
</table>
