<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{title}} - Toronto Lobbying Report</title>
        {% else %}
        <title>Welcome to Toronto Lobbying Report!</title>
        {% endif %}
    </head>
    <body>
      <div>Toronto Lobbying Report:
        <a href="{{ url_for('index') }}">Home</a>
      </div>
      <hr>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </body>
</html>