{% extends 'base.html' %}

{% block content %}
  <h1>Meeting ID: {{ meeting.id }}</h1>
  <p>Committee: {{ meeting.committee }}</p>
  <p>Date: {{ meeting.date }}</p>

  <h2>Lobbyists:</h2>
  <ul>
    {% for lobbyist in meeting.lobbyists %}
      <li><a href="{{ url_for('lobbyist', id=lobbyist.id) }}">{{ lobbyist.first_name }} {{ lobbyist.last_name }}</a></li>
    {% endfor %}
  </ul>
  
  <h2>Public Office Holders:</h2>
  {% set publicofficeholders = meeting.publicofficeholders %}
  {% if publicofficeholders %}
    {% include 'tables/publicofficeholder_table.html' %}
  {% endif %}

  <h2>Report:</h2>
  <ul>
      <li><a href="{{ url_for('lobbying_report', id=meeting.report.id) }}">{{ meeting.report.smnumber }}</a></li>
  </ul>
{% endblock %}
