{% extends 'base.html' %}

{% block content %}
<h1>Public Office Holder: {{ publicofficeholder.name }}</h1>
<p>ID: {{ publicofficeholder.id }}</p>
<p>Type: {{ publicofficeholder.type }}</p>
<p>Office: {{ publicofficeholder.office }}</p>
<p>Title: {{ publicofficeholder.title }}</p>

<h2>Meetings:</h2>
<ul>
    {% for meeting in publicofficeholder.meetings %}
      <li><a href="{{ url_for('meeting', id=meeting.id) }}">{{ meeting.date }} - {{ meeting.committee }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
